.app.dark {
  --bg-color: rgb(0 1 158);
  --invert-bg-color: rgb(161 161 161);

  --primary-color: rgb(0 122 52); /* Исправлено primark -> primary */
  --secondary-color: rgb(0 230 98); /* Исправлено secendory -> secondary */
}